# Eclipse
.settings/
.metadata/

# Build folders
Debug/
Release/
Binary/
Deploy/Firmware_As_Built/*
Deploy/Firmware_To_Deploy/*

# Created in prebuild scrip
/FlySight/version.h

# Locally stored "Eclipse launch configurations"
*.launch

# Test build products
Tests/*.exe